.DisplayTres {
  max-width: 300px;
}

.boto {
  width: 100px;
  height: 100px;
}
.botoX {
  background-color: rgb(55, 166, 218);
  width: 100px;
  height: 100px;
}

.botoO {
  background-color: rgb(66, 141, 66);
  width: 100px;
  height: 100px;
}
.AppTres {
  display: flex;
  align-items: center;
  flex-direction: column;
}
