.App {
  text-align: center;
}
body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;

  margin-top: 50px;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  border-right: 0.5mm solid rgb(49, 47, 190);
  border-left: 0.5mm solid rgb(49, 47, 190);
  background-color: rgb(154, 192, 224);
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

header,
footer {
  background-color: rgb(29, 125, 209);
  line-height: 5rem;
  padding: 0 1rem;
  border: 0.5mm solid rgb(49, 47, 190);
  color: white;
  font-size: 20px;
}

main,
nav,
aside {
  padding: 1rem;
}

footer {
  line-height: 3rem;
}
